<h2>画面項目</h2>

<% # 画面項目の要素の深さを求める
  def depth(ctrl)
    children = 0
    if ctrl.key?("CHILDREN")
      children = ctrl.CHILDREN.map do |child|
        depth(child)
      end.max
    end
    return 1 + children
  end
%>

<% if form.key?("CONTROL") %>
  <% max_depth = form.CONTROL.map {|ctrl| depth(ctrl) }.max %>
  <% css = case max_depth
             when 1; 'no-s'
             when 2; 'no-m'
             when 3; 'no-l'
             else  ; 'no-ll'
           end %>
  <table class="controls">
    <tr>
      <th class="<%= css %>">No.</th>
      <th>名称</th>
      <th>ＩＤ</th>
      <th>テキスト</th>
      <th>属性</th>
      <th>align</th>
      <th>種別</th>
      <th>備考</th>
    </tr>
    <% form.CONTROL.each.with_index(1) do |ctrl, i| %>
      <%= render_child({ control: ctrl, no: i })%>
    <% end %>
  </table>
<% end %>
