<%# Common Layout Footer %>
<footer>
  <table class="footer">
    <tr>
      <td class="link">
        <%= link_to 'トップページ', 'index.html' %> | 
        <%= link_to 'Abook', data.project.GITHUB_ABOOK %> | 
        <%= link_to 'GitHub', data.project.GITHUB_ABDOCK %>
      </td>
      <td class="copy-rights">
        &copy; 2016 Masaaki Kishi
      </td>
    </tr>
  </table>
</footer>
