<%# Common Layout Footer %>
<footer>
  <table class="footer">
    <tr>
      <td class="link">
        <%= link_to 'トップページ', 'index.html' %> | 
        <%= link_to 'Abook', data.project.GITHUB_ABOOK %> | 
        <%= link_to 'GitHub', data.project.GITHUB_ABDOCK %>
      </td>
    </tr>
    <tr>
      <td class="copy-rights">
        Copyright &copy; 2016-2019 m-kishi All Rights Reserved.
      </td>
    </tr>
  </table>
</footer>
