body {
  width: 980px;
  font-family: sans-serif; }

header {
  top: 0;
  left: 0;
  width: 980px;
  height: 50px;
  z-index: 10;
  position: fixed; }

footer {
  left: 0;
  bottom: 0;
  width: 980px;
  height: 36px;
  z-index: 10;
  position: fixed;
  background-color: #38b48b; }

.content {
  width: 950px;
  height: auto;
  padding: 10px 15px;
  margin-top: 50px;
  margin-bottom: 36px; }

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold; }

a {
  color: #00552e;
  font-weight: bold;
  text-decoration: none; }

a:link {
  color: #00552e; }

a:visited {
  color: #00552e; }

a:hover {
  color: #00552e; }

li {
  margin-bottom: 5px; }

.attention {
  color: red; }

table.header {
  width: 980px;
  height: 100%;
  border: 1px solid #000000;
  table-layout: fixed;
  border-collapse: collapse; }
  table.header td {
    border: 1px solid #000000; }
  table.header td.bc {
    background-color: #38b48b; }
  table.header td.title {
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: #38b48b; }
  table.header td.project {
    text-align: center;
    background-color: white; }
  table.header td.appname {
    text-align: center;
    background-color: white; }
  table.header td.subname {
    text-align: center;
    background-color: white; }
  table.header td.version {
    font-size: 12px;
    text-align: center;
    background-color: #38b48b; }
  table.header td.version-number {
    font-size: 12px;
    text-align: center;
    background-color: white; }

col.title {
  width: 220px; }

col.project {
  width: 220px; }

col.appname {
  width: 220px; }

col.subname {
  width: 220px; }

col.version {
  width: 100px; }

table.footer {
  width: 980px;
  height: 100%;
  border: 1px solid #000000;
  table-layout: fixed;
  border-collapse: collapse; }
  table.footer td {
    width: 100%;
    color: white;
    font-size: 12px; }
  table.footer td.link {
    padding-left: 8px; }
  table.footer td.copy-rights {
    padding-right: 8px;
    text-align: right; }
  table.footer a {
    font-weight: bold; }
  table.footer a:link {
    color: white; }
  table.footer a:visited {
    color: white; }
  table.footer a:hover {
    color: #fff10f; }

ul.menu {
  list-style-type: disc;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 18px; }

table.general {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.general th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.general th.no-s {
    width: 30px; }
  table.general td {
    border: 1px dotted #000000; }
  table.general td.no-s {
    text-align: center; }

table.csv-format {
  width: 100%;
  margin-top: 5px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.csv-format th {
    width: 100px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.csv-format td {
    border: 1px dotted #000000; }

figure.transition {
  margin-top: 30px;
  margin-left: 30px; }

table.layout {
  width: 100%; }

table.controls {
  width: 950px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.controls th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.controls th.no-s {
    width: 30px; }
  table.controls th.no-m {
    width: 38px; }
  table.controls th.no-l {
    width: 46px; }
  table.controls td {
    border: 1px dotted #000000; }
  table.controls td.no-s {
    text-align: center; }
  table.controls td.no-m {
    text-align: left; }
  table.controls td.no-l {
    text-align: left; }
  table.controls .maru {
    width: 45px; }
  table.controls .align-c {
    text-align: center; }

td.layout {
  text-align: center;
  padding-bottom: 16px; }

td.overview {
  padding-left: 16px;
  vertical-align: top; }

ul.overview {
  margin-top: 0px; }

table.form-property {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 1em; }
  table.form-property th {
    width: 160px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.form-property td {
    border: 1px dotted #000000; }

table.dgv-property {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.dgv-property th {
    width: 160px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.dgv-property td {
    border: 1px dotted #000000; }

table.type {
  width: 100%;
  margin-top: 16px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.type th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.type th.no {
    width: 30px; }
  table.type td {
    border: 1px dotted #000000; }
  table.type td.no {
    text-align: center; }
  table.type .check {
    width: 30px;
    text-align: center; }

td.general {
  width: 50%; }

img.general {
  width: 98%; }

td.dbfile {
  width: 50%; }

img.dbfile {
  width: 98%; }

td.energy {
  width: 50%; }

img.energy {
  width: 98%; }

table.message {
  width: 100%;
  margin-top: 16px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.message tr.fragment {
    color: red; }
  table.message th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.message th.no {
    width: 30px; }
  table.message td {
    border: 1px dotted #000000; }
  table.message td.no {
    width: 30px;
    text-align: center; }

dl.event {
  margin-left: 15px; }
  dl.event dt {
    margin-left: 15px;
    display: list-item;
    list-style: disc; }
  dl.event dd {
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 15px; }
  dl.event ul.description {
    list-style-type: circle;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 18px; }
  dl.event ul.event {
    list-style-type: none;
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 10px; }
  dl.event ol.event {
    margin-top: 10px;
    margin-bottom: 10px; }

table.event {
  width: 100%;
  margin-top: 10px; }
  table.event td {
    text-align: center; }
  table.event .small {
    width: 80%; }

table.db-file-load-error {
  width: 100%;
  border: 1px solid #000000; }
  table.db-file-load-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.db-file-load-error th.no {
    width: 30px; }
  table.db-file-load-error td {
    border: 1px solid #000000; }
  table.db-file-load-error td.no {
    width: 30px;
    text-align: center; }

table.input-error {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
  table.input-error td {
    text-align: center; }
  table.input-error td.wide {
    width: 38%; }
  table.input-error td.diag {
    width: 24%; }
  table.input-error td > figure > img {
    width: 98%; }

table.db-file-store-error {
  width: 100%;
  border: 1px solid #000000; }
  table.db-file-store-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.db-file-store-error th.no {
    width: 30px; }
  table.db-file-store-error td {
    border: 1px solid #000000; }
  table.db-file-store-error td.no {
    width: 30px;
    text-align: center; }

table.auto-complete {
  width: 100%;
  margin-top: 10px; }
  table.auto-complete td {
    width: 50%;
    text-align: left;
    padding-bottom: 16px; }
  table.auto-complete .small {
    width: 90%; }

table.subform-auto-complete {
  width: 46%;
  margin-top: 10px; }
  table.subform-auto-complete td {
    text-align: center;
    padding-bottom: 16px; }
  table.subform-auto-complete .small {
    width: 90%; }

table.summary {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.summary th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.summary th.no {
    width: 30px; }
  table.summary td {
    border: 1px dotted #000000; }
  table.summary td.no {
    text-align: center; }
  table.summary td.type {
    width: 80px; }

table.mouse-on {
  width: 100%;
  margin-top: 10px; }
  table.mouse-on td {
    text-align: center; }

table.balance {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  table.balance th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.balance th.no {
    width: 30px;
    text-align: center; }
  table.balance td {
    border: 1px dotted #000000; }
  table.balance td.no {
    text-align: center; }

table.balance-check-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  table.balance-check-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.balance-check-error th.no {
    width: 30px;
    text-align: center; }
  table.balance-check-error td {
    border: 1px dotted #000000; }
  table.balance-check-error td.no {
    text-align: center; }

table.private {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  table.private th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.private th.no {
    width: 30px;
    text-align: center; }
  table.private td {
    border: 1px dotted #000000; }
  table.private td.no {
    text-align: center; }

table.private-check-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  table.private-check-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.private-check-error th.no {
    width: 30px;
    text-align: center; }
  table.private-check-error td {
    border: 1px dotted #000000; }
  table.private-check-error td.no {
    text-align: center; }

table.subform-type-combo {
  width: 46%;
  margin-top: 10px; }
  table.subform-type-combo td {
    width: 50%;
    text-align: center;
    padding-bottom: 16px; }
  table.subform-type-combo .small {
    width: 90%; }

table.subform-load-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  table.subform-load-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.subform-load-error th.no {
    width: 30px; }
  table.subform-load-error td {
    border: 1px solid #000000; }
  table.subform-load-error td.no {
    width: 30px;
    text-align: center; }

table.upload-check-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  table.upload-check-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.upload-check-error th.no {
    width: 30px;
    text-align: center; }
  table.upload-check-error td {
    border: 1px dotted #000000; }
  table.upload-check-error td.no {
    text-align: center; }

table.upload-view-change {
  border: 1px solid #000000;
  margin-bottom: 10px; }
  table.upload-view-change th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.upload-view-change th.no {
    width: 30px;
    text-align: center; }
  table.upload-view-change td {
    border: 1px dotted #000000; }
  table.upload-view-change td.no {
    text-align: center; }

table.upload-server-error {
  width: 100%;
  border: 1px solid #000000;
  margin-bottom: 10px; }
  table.upload-server-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.upload-server-error td.message {
    border: 1px solid #000000; }
  table.upload-server-error td.example {
    border-style: none none none none; }

table.upload-server-error-example {
  width: 100%;
  margin-bottom: 10px; }
  table.upload-server-error-example td {
    text-align: center; }

table.version-setting {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  table.version-setting th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  table.version-setting td {
    border: 1px dotted #000000; }

a.type-description:link {
  color: black;
  font-weight: normal; }

a.type-description:visited {
  color: black;
  font-weight: normal; }

a.type-description:hover {
  color: black;
  font-weight: normal; }
