/* line 14, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
body {
  width: 980px;
  font-family: sans-serif; }

/* line 19, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
header {
  top: 0;
  left: 0;
  width: 980px;
  height: 50px;
  z-index: 10;
  position: fixed; }

/* line 28, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
footer {
  left: 0;
  bottom: 0;
  width: 980px;
  height: 48px;
  z-index: 10;
  position: fixed;
  background-color: #38b48b; }

/* line 38, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
.content {
  width: 950px;
  height: auto;
  padding: 10px 15px;
  margin-top: 50px;
  margin-bottom: 48px; }

/* line 46, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold; }

/* line 52, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a {
  color: #00552e;
  font-weight: bold;
  text-decoration: none; }

/* line 58, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a:link {
  color: #00552e; }

/* line 61, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a:visited {
  color: #00552e; }

/* line 64, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a:hover {
  color: #00552e; }

/* line 68, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
li {
  margin-bottom: 5px; }

/* line 72, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
.attention {
  color: red; }

/* line 76, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.header {
  width: 980px;
  height: 100%;
  border: 1px solid #000000;
  table-layout: fixed;
  border-collapse: collapse; }
  /* line 82, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td {
    border: 1px solid #000000; }
  /* line 85, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.bc {
    background-color: #38b48b; }
  /* line 88, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.title {
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: #38b48b; }
  /* line 95, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.project {
    text-align: center;
    background-color: white; }
  /* line 99, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.appname {
    text-align: center;
    background-color: white; }
  /* line 103, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.subname {
    text-align: center;
    background-color: white; }
  /* line 107, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.version {
    font-size: 12px;
    text-align: center;
    background-color: #38b48b; }
  /* line 112, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.header td.version-number {
    font-size: 12px;
    text-align: center;
    background-color: white; }

/* line 119, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
col.title {
  width: 220px; }

/* line 120, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
col.project {
  width: 220px; }

/* line 121, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
col.appname {
  width: 220px; }

/* line 122, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
col.subname {
  width: 220px; }

/* line 123, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
col.version {
  width: 100px; }

/* line 125, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.footer {
  width: 980px;
  height: 100%;
  border: 1px solid #000000;
  table-layout: fixed;
  border-collapse: collapse; }
  /* line 131, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer td {
    width: 100%;
    color: white;
    font-size: 12px; }
  /* line 136, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer td.link {
    padding-left: 8px; }
  /* line 139, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer td.copy-rights {
    padding-right: 8px;
    text-align: right; }
  /* line 143, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer a {
    font-weight: bold; }
  /* line 146, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer a:link {
    color: white; }
  /* line 149, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer a:visited {
    color: white; }
  /* line 152, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.footer a:hover {
    color: #fff10f; }

/* line 157, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
ul.menu {
  list-style-type: disc;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 18px; }

/* line 164, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.general {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 168, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.general th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 173, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.general th.no-s {
    width: 30px; }
  /* line 176, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.general td {
    border: 1px dotted #000000; }
  /* line 179, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.general td.no-s {
    text-align: center; }

/* line 184, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.csv-format {
  width: 100%;
  margin-top: 5px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 189, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.csv-format th {
    width: 100px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 195, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.csv-format td {
    border: 1px dotted #000000; }

/* line 200, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
figure.transition {
  margin-top: 30px;
  margin-left: 30px; }

/* line 205, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.layout {
  width: 100%; }

/* line 209, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.controls {
  width: 950px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 213, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 218, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls th.no-s {
    width: 30px; }
  /* line 219, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls th.no-m {
    width: 38px; }
  /* line 220, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls th.no-l {
    width: 46px; }
  /* line 221, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls td {
    border: 1px dotted #000000; }
  /* line 224, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls td.no-s {
    text-align: center; }
  /* line 225, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls td.no-m {
    text-align: left; }
  /* line 226, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls td.no-l {
    text-align: left; }
  /* line 227, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls .maru {
    width: 45px; }
  /* line 230, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.controls .align-c {
    text-align: center; }

/* line 235, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
td.layout {
  text-align: center;
  padding-bottom: 16px; }

/* line 240, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
td.overview {
  padding-left: 16px;
  vertical-align: top; }

/* line 245, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
ul.overview {
  margin-top: 0px; }

/* line 249, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.form-property {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 1em; }
  /* line 254, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.form-property th {
    width: 160px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 260, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.form-property td {
    border: 1px dotted #000000; }

/* line 265, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.dgv-property {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 269, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.dgv-property th {
    width: 160px;
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 275, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.dgv-property td {
    border: 1px dotted #000000; }

/* line 280, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.type {
  width: 100%;
  margin-top: 16px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 285, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.type th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 290, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.type th.no {
    width: 30px; }
  /* line 293, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.type td {
    border: 1px dotted #000000; }
  /* line 296, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.type td.no {
    text-align: center; }
  /* line 299, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.type .check {
    width: 30px;
    text-align: center; }

/* line 305, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
td.general {
  width: 50%; }

/* line 309, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
img.general {
  width: 98%; }

/* line 313, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
td.dbfile {
  width: 50%; }

/* line 317, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
img.dbfile {
  width: 98%; }

/* line 321, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
td.energy {
  width: 50%; }

/* line 325, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
img.energy {
  width: 98%; }

/* line 329, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.message {
  width: 100%;
  margin-top: 16px;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 334, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.message tr.fragment {
    color: red; }
  /* line 337, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.message th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 342, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.message th.no {
    width: 30px; }
  /* line 345, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.message td {
    border: 1px dotted #000000; }
  /* line 348, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.message td.no {
    width: 30px;
    text-align: center; }

/* line 354, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
dl.event {
  margin-left: 15px; }
  /* line 356, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  dl.event dt {
    margin-left: 15px;
    display: list-item;
    list-style: disc; }
  /* line 361, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  dl.event dd {
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 15px; }
  /* line 366, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  dl.event ul.description {
    list-style-type: circle;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 18px; }
  /* line 372, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  dl.event ul.event {
    list-style-type: none;
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 10px; }
  /* line 379, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  dl.event ol.event {
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 385, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.event {
  width: 100%;
  margin-top: 10px; }
  /* line 388, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.event td {
    text-align: center; }
  /* line 391, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.event .small {
    width: 80%; }

/* line 396, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.db-file-load-error {
  width: 100%;
  border: 1px solid #000000; }
  /* line 399, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-load-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 404, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-load-error th.no {
    width: 30px; }
  /* line 407, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-load-error td {
    border: 1px solid #000000; }
  /* line 410, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-load-error td.no {
    width: 30px;
    text-align: center; }

/* line 416, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.input-error {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
  /* line 420, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.input-error td {
    text-align: center; }
  /* line 423, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.input-error td.wide {
    width: 38%; }
  /* line 426, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.input-error td.diag {
    width: 24%; }
  /* line 429, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.input-error td > figure > img {
    width: 98%; }

/* line 434, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.db-file-store-error {
  width: 100%;
  border: 1px solid #000000; }
  /* line 437, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-store-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 442, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-store-error th.no {
    width: 30px; }
  /* line 445, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-store-error td {
    border: 1px solid #000000; }
  /* line 448, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.db-file-store-error td.no {
    width: 30px;
    text-align: center; }

/* line 454, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.auto-complete {
  width: 100%;
  margin-top: 10px; }
  /* line 457, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.auto-complete td {
    width: 50%;
    text-align: left;
    padding-bottom: 16px; }
  /* line 462, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.auto-complete .small {
    width: 90%; }

/* line 467, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.subform-auto-complete {
  width: 46%;
  margin-top: 10px; }
  /* line 470, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.subform-auto-complete td {
    text-align: center;
    padding-bottom: 16px; }
  /* line 474, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.subform-auto-complete .small {
    width: 90%; }

/* line 479, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.summary {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 483, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.summary th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 488, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.summary th.no {
    width: 30px; }
  /* line 491, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.summary td {
    border: 1px dotted #000000; }
  /* line 494, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.summary td.no {
    text-align: center; }
  /* line 497, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.summary td.type {
    width: 80px; }

/* line 502, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.mouse-on {
  width: 100%;
  margin-top: 10px; }
  /* line 505, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.mouse-on td {
    text-align: center; }

/* line 510, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.balance {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  /* line 515, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 520, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance th.no {
    width: 30px;
    text-align: center; }
  /* line 524, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance td {
    border: 1px dotted #000000; }
  /* line 527, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance td.no {
    text-align: center; }

/* line 532, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.balance-check-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  /* line 537, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance-check-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 542, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance-check-error th.no {
    width: 30px;
    text-align: center; }
  /* line 546, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance-check-error td {
    border: 1px dotted #000000; }
  /* line 549, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.balance-check-error td.no {
    text-align: center; }

/* line 554, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.private {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  /* line 559, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 564, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private th.no {
    width: 30px;
    text-align: center; }
  /* line 568, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private td {
    border: 1px dotted #000000; }
  /* line 571, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private td.no {
    text-align: center; }

/* line 576, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.private-check-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  /* line 581, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private-check-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 586, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private-check-error th.no {
    width: 30px;
    text-align: center; }
  /* line 590, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private-check-error td {
    border: 1px dotted #000000; }
  /* line 593, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.private-check-error td.no {
    text-align: center; }

/* line 598, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.subform-load-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  /* line 603, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.subform-load-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 608, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.subform-load-error th.no {
    width: 30px; }
  /* line 611, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.subform-load-error td {
    border: 1px solid #000000; }
  /* line 614, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.subform-load-error td.no {
    width: 30px;
    text-align: center; }

/* line 620, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.upload-check-error {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-bottom: 10px; }
  /* line 625, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-check-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 630, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-check-error th.no {
    width: 30px;
    text-align: center; }
  /* line 634, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-check-error td {
    border: 1px dotted #000000; }
  /* line 637, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-check-error td.no {
    text-align: center; }

/* line 642, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.upload-view-change {
  border: 1px solid #000000;
  margin-bottom: 10px; }
  /* line 645, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-view-change th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 650, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-view-change th.no {
    width: 30px;
    text-align: center; }
  /* line 654, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-view-change td {
    border: 1px dotted #000000; }
  /* line 657, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-view-change td.no {
    text-align: center; }

/* line 662, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.upload-server-error {
  width: 100%;
  border: 1px solid #000000;
  margin-bottom: 10px; }
  /* line 666, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-server-error th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 671, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-server-error td.message {
    border: 1px solid #000000; }
  /* line 674, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-server-error td.example {
    border-style: none none none none; }

/* line 681, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.upload-server-error-example {
  width: 100%;
  margin-bottom: 10px; }
  /* line 684, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.upload-server-error-example td {
    text-align: center; }

/* line 689, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
table.version-setting {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
  /* line 693, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.version-setting th {
    border: 1px solid #000000;
    text-align: left;
    background-color: #fff10f; }
  /* line 698, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
  table.version-setting td {
    border: 1px dotted #000000; }

/* line 703, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a.type-description:link {
  color: black;
  font-weight: normal; }

/* line 707, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a.type-description:visited {
  color: black;
  font-weight: normal; }

/* line 711, /Users/m-kishi/Programs/AbDock/source/stylesheets/all.css.scss */
a.type-description:hover {
  color: black;
  font-weight: normal; }
