<%# Common Layout Footer %>
<footer>
  <table class="footer">
    <tr>
      <td>
        <%= link_to 'トップ', '/' %>
      </td>
    </tr>
    <tr>
      <td class="copy-rights">
        Copyright &copy; 2016 m-kishi All Rights Reserved.
      </td>
    </tr>
  </table>
</footer>
